<p id="notice"><%= notice %></p>

<p>
  <b>Killer:</b>
  <%= @kill.killer_id %>
</p>

<p>
  <b>Victim:</b>
  <%= @kill.victim_id %>
</p>

<p>
  <b>Location:</b>
  <%= @kill.location %>
</p>

<p>
  <b>Photo uid:</b>
  <%= @kill.photo_uid %>
</p>

<p>
  <b>Attack sequence:</b>
  <%= @kill.attack_sequence %>
</p>


<%= link_to 'Edit', edit_kill_path(@kill) %> |
<%= link_to 'Back', kills_path %>
