<%= form_for(@kill, :html => {:multipart => true}) do |f| %>
  <% if @kill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kill.errors.count, "error") %> prohibited this kill from being saved:</h2>

      <ul>
      <% @kill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :killer_id %><br />
    <%= f.text_field :killer_id %>
  </div>
  <div class="field">
    <%= f.label :victim_id %><br />
    <%= f.text_field :victim_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :attack_sequence %><br />
    <%= f.text_field :attack_sequence %>
  </div>
  <input type='text' name='access_token' value="2227470867|2.rOBnksB01DkdA8xt6VYCFQ__.3600.1298854800-583002418|MvmrtxfwjqL72shJ-2KegVLxbQE"/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
